
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.material-icons {
  vertical-align: text-top;
}
.nav-tabs .nav-link {
  border-width: 0;
}
/*.nav-tabs .nav-link.active, .tabs .nav-item .nav-link.active {
  border-bottom: 1px solid $primary;
}*/
.nav-tabs .nav-item .nav-link {
  border-bottom: 1px solid inherit;
  color: $navbar-light-active-color;
}
.tabs .nav-link.active {
  border-bottom: 1px solid $primary;
  color: $primary;
  /*background: red;*/
}
.nav-pills .nav-link.active {
 color: $white
}