
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.material-icons {
  vertical-align: text-top;
}
.nav-tabs .nav-link {
  border-width: 0;
}
/*.nav-tabs .nav-link.active, .tabs .nav-item .nav-link.active {
  border-bottom: 1px solid $primary;
}*/
.tabs .nav-link.active, .nav-tabs .nav-item .nav-link {
  border-bottom: 1px solid $primary;
  background: red;
}
body {
    background-color: blue;
}